.header{

    text-decoration: underline .1rem black;
    font-size: 1rem;
}

section.bingusberry{
    height:100vh;
    width:auto;
    background-color: red;
}

.TeamTiles{
    width:75%;
    margin-bottom: 300px;
}






.card{
    flex: 1;
}


p.mission{
    margin-top:2rem;
    text-align:center;
    font-weight: bold;
}

.sepLines{
    margin-right:40px;
}