.header{

    text-decoration: underline .1rem black;
    font-size: 1rem;
}

section.bingusberry{
    height:100vh;
    width:auto;
    background-color: red;
}

.TeamTiles{
    width:100%;
    margin-bottom: 300px;
}






.card{
    flex: 1;
    width:auto;
}


p.mission{
    margin-top:2rem;
    text-align:center;
    font-weight: bold;
}

.sepLines{
    margin-right: 400px;
}

h1.who{
    color: #FF9400;
    margin-left:-160px;
    font-size:40px;
}

p.who{
    margin-left:100px;
}

section.who{
    display:flex;
}

section.team{
    display:flex;
    flex-direction: row;
    width: 100%;
}

h1.team{
    color: #FF9400;
    font-size:40px;
    text-align: center;
    margin: 0;
    
}


#animation{
    
    stroke-dasharray: 1254.6748046875; // ARRAY
    animation: dash 4s ease-in-out;
    opacity: 1;

    @keyframes dash {
        from {
            stroke-dashoffset: 1254.6748046875;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    
}

