// global colors

$global-orange: #FF9400;
$global-grey: #999999;


//global fonts

.f1 {
    font-family: 'Bebas Neue', cursive;
}

.f2 {
    font-family: 'Hind',sans-serif;
}




@mixin hover-anim{
    transition-duration: 0.4s;
 
    &:hover{              //'hover': built into css
        transform: rotate(1turn) scale(1.3);
    }
}

.icon{
    color:#FF9400;
    font-size: 34px;
    margin: 8px 0;
    cursor: pointer;
    
    @include  hover-anim();

}

// global shortcuts

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-main { justify-content: center; } // use with flexbox

.center-cross { align-items: center; }

.vertical-text { 
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    margin: 0;
    // background-color: yellow;
}


@mixin page-margin{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}


// specific styles

// nav bar
    div.navbar{
        margin-top: 10px;
        align-items: flex-start;
    }

    a.navbar{
        margin: 0 10px;
        color: $global-grey;
        font-size: 28px;
        cursor: pointer;
        text-decoration: none;

        &:hover{    //'hover': built into css
            transition-duration: 0.4s;
            opacity: 0.8;
        }

        .pointer {
            cursor: pointer;
        }
    }

.spin{
    
    @include hover-anim();
}

.testing{
    &:hover{   
        opacity: 0.2;
    }
}


// .change{
//     background: linear-gradient(270deg, #999, #FF9400);
//     background-size: 400% 400%;

//     -webkit-animation: gradient-text 5s ease infinite;
//     animation: gradient-text 5s ease infinite;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;


// }

// @-webkit-keyframes gradient-text {
//     0%{
//         background-position:0% 50%;
//     }
//     50%{
//         background-position:100% 50%;
//         opacity: 1;
//     }
// }
// @keyframes gradient-text {
//     0%{
//         background-position:0% 50%;
//     }
//     50%{
//         background-position:100% 50%;
//         opacity: 1;
//     }
// }

.fire{
    animation: breathe-text 3s linear infinite;
}

@keyframes breathe-text{
    0%{
        color:  #f00;
    }
    50%{
        color: #FF9400;
    }
    100%{
        color: #f00;
    }
}