
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ececec;
}


::-webkit-scrollbar-thumb {
    background-color: #2E3C40;
    border-radius: 1em;
}


// global colors

$orange: #FF9400;
$dark-grey: #2E3C40;
$light-grey: #627084;
$bg-white: #f6f6f6;




//global fonts

.f1 {
    font-family: 'Bebas Neue', cursive;
}

.f2 {
    font-family: 'Hind',sans-serif;
}




@mixin hover-anim{
    transition-duration: 0.4s;
 
    &:hover{              //'hover': built into css
        transform: rotate(1turn) scale(1.3);
    }
}

.icon{
    color:#FF9400;
    font-size: 2.5rem;
    margin: 0.25rem 0.5rem; 
    cursor: pointer;
    
    @include  hover-anim();

}

// global shortcuts

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-main { justify-content: center; } // use with flexbox

.center-cross { align-items: center; }

.vertical-text { 
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    margin: 0;
    //background-color: red; // changes color of whole website
}


@mixin page-margin{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}


// specific styles

// nav bar
    div.navbar{
        align-items: flex-start;
        border-radius: 0 0 0 0;
        background-color: rgba(180, 180, 180, 0);

        padding-top: 10px;
        width: 100%;

        justify-content: center;
    }

    a.navbar{
        margin: 0 10px;
        color: rgba(35, 39, 42,0.8);
        font-size: 28px;
        cursor: pointer;
        //text-decoration: none;
        //@at-root: inherit;
        text-decoration: underline 0.15em rgba(255, 255, 255, 0);
        transition: text-decoration-color 300ms;

        

        &:hover{    //'hover': built into css
            //color: inherit;
            text-decoration-color: rgb(44, 47, 51);
            //transition-duration: 10s;
            //opacity: 0.8;   
        }

        .pointer {
            cursor: pointer;
        }
    }

.spin{
    
    @include hover-anim();
}

.testing{
    &:hover{   
        @include hover-anim();
    }
}


// .change{
//     background: linear-gradient(270deg, #999, #FF9400);
//     background-size: 400% 400%;

//     -webkit-animation: gradient-text 5s ease infinite;
//     animation: gradient-text 5s ease infinite;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;


// }

// @-webkit-keyframes gradient-text {
//     0%{
//         background-position:0% 50%;
//     }
//     50%{
//         background-position:100% 50%;
//         opacity: 1;
//     }
// }
// @keyframes gradient-text {
//     0%{
//         background-position:0% 50%;
//     }
//     50%{
//         background-position:100% 50%;
//         opacity: 1;
//     }
// }
.fire{
    animation: breathe-text 2s linear;
}

@keyframes breathe-text{
    0% {
        color: black
    }

    40%{
        color:black
    }

    100%{
        color:#FF9400
    }
    
    
}


.bingus{
    background-color: black;
}

// .moving{
//     animation: blingy infinite;
// }

// @keyframes blingy {
//     from {left: 0px;}
//     to {left: 200px;}
// }

.moving2{
    animation: blingy2 2s;
    z-index: 0;
    // transition-duration: 2s;
}

@keyframes blingy2 {
    from {
        transform: translate(0, 100px);
        opacity: 0;
        z-index: -2;
    }
    to {
        
        opacity: 1;
        z-index: 0;
    }
  }

div.footer{
    margin-top:30px;
    margin-left:20px;

}
section.footer{
    width: 100%;
    justify-content: space-between;
    background-color:black;
    height: 200px;

}

h1.footer{
    color:orange;
    margin:0;
    
}

h2.footer{
    color:orange;
    margin:0;
    position:relative;
    bottom: 15px;
    font-size:75px;
    height:auto;
}



.fire2{
    animation: breathe-text 5s linear infinite;
}

@keyframes breathe-text{
    0% {
        color: #FF9400
    }

    40%{
        color:red
    }

    100%{
        color:#FF9400
    }
    
    
}

.more
{
    height:auto;
    width:auto;
}

.footicons
{
}
