// global colors

$global-orange: #FF9400;
$global-grey: #999999;


//global fonts

.f1 {
    font-family: 'Bebas Neue', cursive;
}

.f2 {
    font-family: 'Hind',sans-serif;
}




@mixin hover-anim{
    transition-duration: 0.4s;
 
    &:hover{              //'hover': built into css
        transform: rotate(1turn) scale(1.3);
    }
}

.icon{
    color:#FF9400;
    font-size: 2.5rem;
    margin: 0.25rem 0.5rem; 
    cursor: pointer;
    
    @include  hover-anim();

}

// global shortcuts

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-main { justify-content: center; } // use with flexbox

.center-cross { align-items: center; }

.vertical-text { 
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    margin: 0;
   // background-color: red; // changes color of whole website
}


@mixin page-margin{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}


// specific styles

// nav bar
    div.navbar{
        align-items: flex-start;
        border-radius: 0 0 2rem 2rem;
        background-color: #FF9400;

        padding-top: 10px;
        width: 40rem;

        justify-content: center;
    }

    a.navbar{
        margin: 0 10px;
        color: white;
        font-size: 28px;
        cursor: pointer;
        text-decoration: none;

        &:hover{    //'hover': built into css
            transition-duration: 0.4s;
            opacity: 0.8;
        }

        .pointer {
            cursor: pointer;
        }
    }

.spin{
    
    @include hover-anim();
}

.testing{
    &:hover{   
        opacity: 0.2;
    }
}


// .change{
//     background: linear-gradient(270deg, #999, #FF9400);
//     background-size: 400% 400%;

//     -webkit-animation: gradient-text 5s ease infinite;
//     animation: gradient-text 5s ease infinite;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;


// }

// @-webkit-keyframes gradient-text {
//     0%{
//         background-position:0% 50%;
//     }
//     50%{
//         background-position:100% 50%;
//         opacity: 1;
//     }
// }
// @keyframes gradient-text {
//     0%{
//         background-position:0% 50%;
//     }
//     50%{
//         background-position:100% 50%;
//         opacity: 1;
//     }
// }
.fire{
    animation: breathe-text 2s linear;
}

@keyframes breathe-text{
    0% {
        color: black
    }

    40%{
        color:black
    }

    100%{
        color:#FF9400
    }
    
    
}


.bingus{
    background-color: black;
}

.moving{
    animation: blingy infinite;
}

@keyframes blingy {
    from {left: 0px;}
    to {left: 200px;}
}

.moving2{
    animation: blingy2 2s;
    z-index: 0;
    // transition-duration: 2s;
}

@keyframes blingy2 {
    from {
        transform: translate(0, 100px);
        opacity: 0;
        z-index: -2;
    }
    to {
        
        opacity: 1;
        z-index: 0;
    }
  }