// global colors

$global-orange: #FF9400;
$global-grey: #999999;


//global fonts

.f1 {
    font-family: 'Bebas Neue', cursive;
}

.f2 {
    font-family: 'Hind',sans-serif;
}

@mixin hover-anim{
    transition-duration: 0.4s;
 
    &:hover{              //'hover': built into css
        transform: rotate(1turn) scale(1.3);
    }
}

.icon{
    color:#FF9400;
    font-size: 34px;
    margin: 8px 0;
    cursor: pointer;
    
    @include hover-anim();

}

// global shortcuts

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-main { justify-content: center; } // use with flexbox

.center-cross { align-items: center; }

.vertical-text { 
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// specific styles

// nav bar
    div.navbar{
        margin-top: 10px;
        align-items: flex-start;
    }

    a.navbar{
        margin: 0 10px;
        color: $global-grey;
        font-size: 28px;
        cursor: pointer;

        &:hover{    //'hover': built into css
            opacity: 0.6;
            
        }

        .pointer {
            cursor: pointer;
        }
    }

.spin{
    
    @include hover-anim();
}
