@import '../../global/global.scss';


section{
    @include page-margin;
}

// landing
    div.landing{
        height: 100vh;
    }

// name
    section.name{
        
        width: 100%;

        margin-top: auto;
        margin-bottom: auto;

       

        // margin-top: 250px;
        // margin-bottom: 400px;
        // background-color: ;
    }

    h1.name{ // PROMETHEUS
        position: relative;
        bottom: -57px;

        font-size: 175px;
        align-self: floor;
        
        margin: 0px;
    }

    h2.name{ // PROJECT
            
        font-size: 50px;
        align-self: floor;
        color: $global-orange;
        margin: 0px;
        

    }

    div.typing-anim{
        position: relative;
        right: -11px;
        color: #ff9400;
        font-size: 1.3rem;
    }





// icons
    .icon-landing{
        justify-self: center;
        
        margin-top: auto;
        margin-bottom: 2rem;
        

    }

// statisic
    section.statistic{

        
        height: 300px;
        background-color: black;
        align-items: center;
        
        margin-bottom: 10px;
        width: 100%;


        
    }

    h1.statistic{
        margin: 10px;
        color: white;

    }


// tile
    .tile-text{
        color:white;
        font-size: 50px;
    }
    
    div.tile{
        //background-color:black;
        
    }

    .initiatives-grid{

        display: grid;
        grid-template-columns: repeat(3, 1fr); // 1fr 1fr 1fr
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "articles editorials cdstechclub"
        "articles editorials ccc";

        row-gap: 10px;
        column-gap: 10px;
    }
 
.mission{
    height: 300px;
    justify-content: flex-start;
}


    