@import '../../global/global.scss';

// name
    section.name{
        
        margin-right: auto;

        margin-top: 250px;
        margin-bottom: 400px;
       
    }


    div.name{ // container excluding motto

        margin-top: 100px;
        text-align: left;

        justify-self: center;
        
        
    }

    h1.name{ // PROMETHEUS
        position: relative;
        bottom: -57px;

        font-size: 175px;
        align-self: floor;
        
        margin: 0px;
    }

    h2.name{ // PROJECT
            
        font-size: 50px;
        align-self: floor;
        color: $global-orange;
        margin: 0px;
        

    }

    h3.name{ // slogan
            
        font-size: 36px;
        align-self: floor;
        color: $global-grey;
        margin: 0px;
        
        position: relative;
        left: 10px;

    }


// icons
    .icon-landing{
        justify-self: center;

        position: fixed;
        right: 60px;
        
        top: calc(50vh - 100px) !important;

    }

// statisic
    section.statistic{
        height: 200px;
        background-color: black;
        align-items: center;
        
        margin-bottom: 10px;


        
        @include page-margin;
    }

    h1.statistic{
        margin: 10px;
        color: white;

    }


// tile
    .tile-text{
        color:white;
        font-size: 50px;
    }
    
    div.tile{
        //background-color:black;
        
    }

    .initiatives-grid{
        @include page-margin;

        display: grid;
        grid-template-columns: repeat(3, 1fr); // 1fr 1fr 1fr
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "articles editorials cdstechclub"
        "articles editorials ccc";

        row-gap: 10px;
        column-gap: 10px;
    }


    