@import '../../global/global.scss';


section{
    @include page-margin;
}

// landing
    div.landing{
        height: 100vh;
    }

// name
    section.name{
        
        width: 100%;

        margin-top: auto;
        margin-bottom: auto;

       

        // margin-top: 250px;
        // margin-bottom: 400px;
        // background-color: ;
    }

    h1.name{ // PROMETHEUS
        position: relative;
        bottom: -57px;
        left: 15px;
        font-size: 175px;
        align-self: floor;
        
        margin: 0px;
    }

    h1.name2{ // PROMETHEUS
        position: relative;
        bottom: -57px;
        right:17px;
        font-size: 175px;
        align-self: floor;
        
        margin: 0px;
    }

    h2.name{ // PROJECT
            
        font-size: 50px;
        align-self: floor;
        color: $orange;
        margin: 0px;
        

    }

    div.typing-anim{
        position: relative;
        right: -11px;
        color: black;
        font-size: 1.3rem;
    }





// icons
    .icon-landing{
        justify-self: center;
        
        margin-top: auto;
        margin-bottom: 2rem;
        

    }

// statisic
    section.statistic{

        
        height: 250px;
        background-color: $orange;
        align-items: center;
        
        margin-bottom: 0px;
        width: 100%;

        color: white;
        font-size: 2.5rem;
        // font-weight: 200;
        
    }



// tile
    .tile-text{
        color:white;
        font-size: 50px;
    }
    
    div.tile{
        //background-color:black;
        justify-items: flex-start;
        
    }

    div.tile-content{
        margin: 10px;
        // justify-self: flex-;
    }

    .tile-text-normal{
        font-size: 1.5rem;
    }

    .tile-text-hover{
        font-size: 1.5rem;
        color: black;
        animation: blingy2 ease-in-out 2s;
    }

    // .initiatives-grid{

    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr); // 1fr 1fr 1fr
    //     grid-template-rows: repeat(2, 1fr);
    //     grid-template-areas: 
    //     "articles editorials cdstechclub"
    //     "articles editorials ccc";

    //     row-gap: 10px;
    //     column-gap: 10px;
    // }
 

// div.mission{
//     margin-top:50px;
//     margin-right:auto;
// }


// h2.mission{
//     font-size:50px;
//     margin-top:-10px;
//     color: #A0A0A0;
//     opacity: 0.5;
// }

// // our mission section
//     section.mission{
//         margin-top:50px;
//         justify-content: flex-start;
//         margin-bottom: 200px;
//     }

//     img.mission{
//         margin-right: auto;
//     }

section.mission{
    margin-top:100px;
    justify-content: space-between;
    margin-bottom: 75px;


    background: $bg-white;
    border-radius: .5em;
    box-shadow: 0 1em 2em -.5em rgba(#000000, .2);
    //background-color: green;
}


div.mission{

    margin-left: 5rem;
    width: 40%;

}

    .mission-line{
        // position: relative;
        // bottom: -15px;
        // left: 5px;
        margin-bottom: 1rem;
    }

    h1.mission{
        //margin-top:0px;
        color: $dark-grey;
        font-size: 100px;
        margin: 0;
        line-height: 100px;
        //margin-bottom:-10px;
    }

    h2.mission{
        font-size: 24px;
        margin-top: 0px;
        color: $light-grey;
        overflow-wrap: break-word;
    }

    h3.mission{
        margin: 0px;
        color: $orange;
    }

    img.mission{

        width: 500px;
        height: 500px;
        // overflow: hidden;
    }



div.initiatives{
    justify-content: space-between;
}

section.initiatives{
    margin-bottom: 100px;
}

span.arrow{
    margin-top: 5px;
    justify-content:flex-start;
}

svg.arrow{
    position: relative;
    left: -10px;
}
// card


a.card {
    display: flex;
    flex-direction: column;
    max-width: 20.75em;
    min-height: 20.75em;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: $bg-white;
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1em 2em -.5em rgba(#000000, .2);
    transition: transform .45s ease, background .45s ease;

    //applying a style to the first element that has a parent wrapped around
    &:first-child{  
        margin-left: 0;
    }

    
    &:last-child{
        margin-right: 0;
    }
    
    h3.card {
      color: $dark-grey;
      font-size: 3.5em;
      font-weight: 600;
      line-height: 1;
      padding-bottom: .5em;
      margin: 0 0 0.142857143em;
      border-bottom: 2.5px solid rgba($orange,1);
      transition: color .45s ease, border .45s ease;
    }
  
    h4.card  {
      color: $light-grey;
      text-transform: uppercase;
      font-size: 1.125em;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.1em;
      margin: 0 0 1.777777778em;
      transition: color .45s ease;
    }
  
    p.card  {
      opacity: 0;
      color: #FFFFFF;
      font-weight: 600;
      line-height: 1.8;
      margin: 0 0 1.25em;
      transform: translateY(1em);
      transition: opacity .45s ease, transform .5s ease;
    }
  
    .link-text {
      display: block;
      color: $orange;
      font-size: 1.125em;
      font-weight: 600;
      line-height: 1.2;
      margin: auto 0 0;
      transition: color .45s ease;
  
      svg {
        margin-left: .5em;
        transition: transform .6s ease;
        
        path {
          transition: fill .45s ease;
        }
      }
    }
    
    &:hover {
      background: #FF9400;
      transform: scale(1.02);
      
      h3.card  {
        color: #FFFFFF;
        border-bottom-color: #FFFFFF;
      }
  
      h4.card  {
        color: #FFFFFF;
      }
  
      p.card  {
        opacity: 1;
        transform: none;
      }
  
      .link-text {
        color: #FFFFFF;
  
        svg {
          animation: point 1.25s infinite alternate;
          
          path {
            fill: #FFFFFF;
          }
        }
      }
    }
  }



img.name{
    position: relative;
    bottom: -93px;
    //right:-3px;
}

.etc{
    position:relative;
    right:30px;
}
